@import "../utils/mixins";


.logo{
        width: 170px;
        height: auto;
        padding:$gap-fix 0;
        img{
            width: 100%;
        }

        footer &{
            filter: invert(1);
            width: 100px;
        }
    }



.content{
    &-home{
      
        &--location{
            padding:$gap-fix/2;
            @include txt-center;
        }
    }
}

.head-intro{
    &--home{
        @include bp(sm) {
            padding:gap-sm($gap);
          }

          @include bp(md) {
            background: url(/img/home-800.jpg) no-repeat rgba(94, 80, 114, 0.274);
            background-attachment:fixed;
            background-size: cover;
            background-blend-mode: darken;
          
            p,h1{  color:$white;}
          }
    }

    &--page{
        .img-ratio{
            max-height: 250px;
        }
       
    }

}


.header{  
    &-page{
        &--back{
            font-size: 1.25rem;
        }
    }
}

.section-padding{
    padding:$gap*2 $gap*1.25;
}



.list{

    &-number{
        ul{
            @include bp(md){
                display: grid;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
            }
        }
       
        
        &--item{
            @include border-radius-20;
            padding: $gap;
            min-height: 35px;
            cursor: pointer;
          
            >span{
                margin-left: -54px;
            }
            
            i{
                color:lighten($black,50%)
            }
        }

        .count{
            background: $colour-primary;
            @include border-radius-20;
            @include font-xsmall;
            padding: $gap/3;
            width: 15px;
            height: 15px;
            font-size:small;
            color:$white;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &-menu{
        padding-top:1%;


      
        .content-page &{
            @include bp(md){
                ul{
                    width: 45%;
                }

                &.entree{
                    background-image:url(/img/entree.jpg);
                    background-repeat:  no-repeat;
                    background-position: right center;
                    background-size: 45% auto;
                }
                &.plat{
            
                    background-image:url(/img/plat.jpg);
                    background-repeat:  no-repeat;
                    background-position: right center;
                    background-size: 45% auto;
                }
                &.dessert{
                    clear: both;
                    background-image:url(/img/dessert.jpg);
                    background-repeat:  no-repeat;
                    background-position: right center;
                    background-size: 45% auto;
                }
            }
        }
     
        &--item{
            display: flex;
            text-align: left;
            @extend .list-number--item;
            background:$white;
            padding: 0;
            overflow: hidden;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation: displaying-menu 2s ;
          

             &:nth-child(1){
                animation-duration: 1s;
             }

             &:nth-child(2){
               animation-duration: 1.25s;
                
             }
          
             &:nth-child(3){
               animation-duration: 1.55s;
                
             }
             &:nth-child(4){
                @include displaying-menu(800px);
                animation-duration: 1.95s;
             }
         
            .content-menu{
                text-overflow: ellipsis;
                padding: $gap-fix;
                white-space: nowrap;
                overflow: hidden;
                flex: 1;
                div,p{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    flex: 1;
                    padding-bottom: 5px;
                }
             
            }
            .price{
                padding: $gap-fix;
                display: flex;
                align-items: flex-end;
            
            }
 

            .check{
                background: $colour-tertiaire;
                padding: 0;
                text-align: center;
                height: 72px;
                display: flex;
                align-items: center;
                justify-content: center;
                width:0;
                opacity: 0;
                transition: width 850ms ease-out;
                i{
                   color:$white;
                   padding: 0;
                }
            }
          
            &:hover{
              
                .check{
                    opacity: 1; 
                    width:50px;
                    transition: width 350ms ease-in-out;
                    i{
                        @include rotationclick;
                    animation: rotationclick 800ms;
                    }
                    
                }
            }
            
            >span{
                margin-left: 0;
            }

            table{
                tr{
                    td{
                        &:first-child{
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            display: inline-block;
                            width: 80%;
                            padding:5px 0;
                        }
                      
                    }
                }
            }
        }
    }

}
