footer{
    padding:$gap;
    background:lighten($black,20%);
    color:darken($white,20%);

    i{
        padding-left: 0;
        font-size: smaller;
       
    }
    
    ul{
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            color:darken($white,20%);
            padding-right:  5px; 
        }
       
    }

}