header{
    @include header-box-shadow;
    display: flex;
    justify-content: center;
    padding-top:$gap/5;
    position: relative;
    z-index:99;
    background: $white;
    align-items: center;
} 

.header{  
    &-page{
        &--back{
            font-size: 1.25rem;
        }
    }
}