@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, h1, h2, h3, .font {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: #333333;
}

.font-xsmall {
  font-size: 0.8rem;
}
.font-small {
  font-size: 1rem;
}
.font-regular {
  font-size: 1.15rem;
}
@media screen and (min-width: 992px) {
  .font-regular {
    font-size: 1.3rem;
  }
}
.font-medium {
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .font-medium {
    font-size: 1.6rem;
  }
}
.font-big {
  font-size: 1.7rem;
}
@media screen and (min-width: 992px) {
  .font-big {
    font-size: 150%;
  }
}
.font-w-light {
  font-weight: 300;
}
.font-w-regular {
  font-weight: 400;
}
.font-w-medium {
  font-weight: 500;
}
.font-w-bold {
  font-weight: 700;
}
.font-icon--small {
  font-size: 0.95rem;
}
.font-icon--regular {
  font-size: 1.5rem;
}

h1, h2, h3 {
  font-weight: 700;
  color: #000;
}

.classh1,
h1 {
  font-size: 1.7rem;
}
@media screen and (min-width: 992px) {
  .classh1,
h1 {
    font-size: 150%;
  }
}

.classh2,
h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .classh2,
h2 {
    font-size: 1.6rem;
  }
}

.classh3,
h3 {
  font-size: 1.15rem;
}
@media screen and (min-width: 992px) {
  .classh3,
h3 {
    font-size: 1.3rem;
  }
}

span,
p {
  font-size: 1.15rem;
  font-weight: 300;
  color: #333333;
}
@media screen and (min-width: 992px) {
  span,
p {
    font-size: 1.3rem;
  }
}

i {
  padding: 0 15px;
}

body {
  line-height: 1;
}

.d-flex {
  display: flex;
  justify-content: center;
}
.d-flex--wrap {
  flex-wrap: wrap;
}
.d-flex--flex-column {
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .d-flex--flex-column {
    flex-direction: row;
  }
}

.d-block-inline {
  display: inline-block;
  vertical-align: middle;
}

.align-center {
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.m-bottom {
  margin-bottom: 30px;
}

.m-bottom-small {
  margin-bottom: 7.5px;
}

.p-bottom {
  padding-bottom: 30px;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-30 {
  border-radius: 30px;
}

.overflow {
  overflow: hidden;
}

.bg-gray {
  background: #f2f2f2;
}

.bg-gray-light {
  background: #f7f7f7;
}

.button-box-shadow {
  -webkit-box-shadow: 0 4px 6px 0 rgba(102, 102, 102, 0.25);
  box-shadow: 0 4px 6px 0 rgba(102, 102, 102, 0.25);
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5%;
}
@media screen and (min-width: 600px) {
  .d-grid {
    grid-template-columns: 3fr;
  }
}

.gap-bottom {
  padding-bottom: 5%;
}
.gap-bottom--sgap {
  padding-bottom: 1.6666666667%;
}
.gap-bottom-lgap {
  padding-bottom: 10%;
}

.gap-top {
  padding-top: 5%;
}
.gap-top--sgap {
  padding-top: 1.25%;
}
.gap-top-lgap {
  padding-top: 10%;
}

.btn {
  background: -webkit-linear-gradient(bottom, #9356DC, #FF79DA);
  background: -moz-linear-gradient(bottom, #9356DC, #FF79DA);
  background: -o-linear-gradient(bottom, #9356DC, #FF79DA);
  background: linear-gradient(bottom, #9356DC, #FF79DA);
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 1.15rem;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 0 4px 6px 0 rgba(102, 102, 102, 0.25);
  box-shadow: 0 4px 6px 0 rgba(102, 102, 102, 0.25);
}
@media screen and (min-width: 576px) {
  .btn {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 576px) and (min-width: 992px) {
  .btn {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 800px) {
  .btn {
    padding: 30px;
  }
}

header {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  padding-top: 1%;
  position: relative;
  z-index: 99;
  background: #fff;
}

.logo {
  width: 170px;
  height: auto;
  padding: 15px 0;
}
.logo img {
  width: 100%;
}
footer .logo {
  filter: invert(1);
  width: 100px;
}

.content-home--location {
  padding: 7.5px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .head-intro--home {
    padding: 30px;
  }
}

.section-padding {
  padding: 10% 6.25%;
}

.list-number--item {
  border-radius: 20px;
  padding: 5%;
  min-height: 35px;
  min-width: 250px;
}
.list-number--item > span {
  margin-left: -54px;
}
.list-number--item i {
  color: gray;
}
.list-number .count {
  background: #9356DC;
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 1.6666666667%;
  width: 15px;
  height: 15px;
  font-size: small;
  color: #fff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.article {
  background: #fff;
}
.article .article-bloc-img {
  max-height: 180px;
  position: relative;
}
.article .article-bloc-img .panneau {
  display: inline-block;
  position: absolute;
  background: #99E2D0;
  color: #278870;
  z-index: 9;
  right: 10px;
  top: 10px;
  font-size: 0.8rem;
  padding: 7.5px;
}
.restaurant .article img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.article-content {
  padding: 5%;
}

footer {
  padding: 5%;
  background: #333333;
  color: #cccccc;
}
footer ul i {
  padding-left: 0;
  font-size: smaller;
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
