

@mixin img-ratio {
 
        
        overflow: hidden;
        // padding-top: 56.25%;
        position: relative;
        width: 100%;
    display: block;
 
    height: 100%;
    object-fit: cover;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin header-box-shadow{
    -webkit-box-shadow: 0 2px 5px 0 $colour-shadow;
    box-shadow: 0 2px 5px 0 $colour-shadow;
}

@mixin button-box-shadow($distance:4px,$blur:6px,$color:$colour-shadow,$opacity:40%){
    -webkit-box-shadow: 0 $distance $blur 0 lighten($color,$opacity);
    box-shadow: 0 $distance $blur 0 lighten($color,$opacity);
}

@mixin txt-center{
    text-align: center;
}

@mixin font-xsmall{
    font-size: $font-xsmall;
}

@mixin font-small{
    font-size: $font-small;
}

@mixin font-regular{
    font-size: $font-regular;
    @include bp(lg) {
        font-size: 1.3rem;
        }
 
}

@mixin font-medium{
    font-size: $font-medium;
    @include bp(lg) {
        font-size: 1.6rem;
        }
}

@mixin font-big{
    font-size: $font-big;
    @include bp(lg) {
        font-size: 150%;
        }
}

@mixin content-font-regular{
    @include font-regular;
    font-weight:$font-w-light;
    color:$font-color;
}

@mixin content-font-button{
    @include font-small;
    font-weight:$font-regular;
    @include bp(sm) {
        @include font-regular;
        }
}



//direction: top bottom left right
@mixin gradient-principal($direction:bottom, $color1:$colour-primary, $color2:$colour-secondary) { 
    background: -webkit-linear-gradient($direction, $color1, $color2);
    background: -moz-linear-gradient($direction, $color1, $color2);
    background: -o-linear-gradient($direction, $color1, $color2);
    background: linear-gradient($direction, $color1,$color2 ); 
  }


@mixin gradient-principal-text($direction:bottom, $color1:$colour-primary, $color2:$colour-secondary) { 
    background: -webkit-linear-gradient($direction, $color1, $color2);
    background: -moz-linear-gradient($direction, $color1, $color2);
    background: -o-linear-gradient($direction, $color1, $color2);
    background: linear-gradient($direction, $color1,$color2 ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }



@mixin align-center{
    margin: 0 auto;
    text-align: center;
}

@mixin border-radius ($radius:20px){
    border-radius: $radius;
}

@mixin border-radius-15{
    border-radius: 15px;
}

@mixin border-radius-20{
    border-radius: 20px;
}

@mixin border-radius-30{
    border-radius: 30px;
}


// Map des breakpoints
$breakpoints: (
  sm: 576px,
  md: 800px,
  lg: 992px,
);
// Mixin pour appeler les breakpoint facilement
@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
         
        @media screen and (min-width: $value) {
            @content;
        }
    }
}