

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin header-box-shadow{
    -webkit-box-shadow: 0 2px 5px 0 $colour-shadow;
    box-shadow: 0 2px 5px 0 $colour-shadow;
}

@mixin button-box-shadow{
    -webkit-box-shadow: 0 4px 6px 0 lighten($colour-shadow,40%);
    box-shadow: 0 4px 6px 0 lighten($colour-shadow,40%);
}

@mixin txt-center{
    text-align: center;
}

@mixin font-xsmall{
    font-size: $font-xsmall;
}

@mixin font-small{
    font-size: $font-small;
}

@mixin font-regular{
    font-size: $font-regular;
    @include bp(lg) {
        font-size: 1.3rem;
        }
 
}

@mixin font-medium{
    font-size: $font-medium;
    @include bp(lg) {
        font-size: 1.6rem;
        }
}

@mixin font-big{
    font-size: $font-big;
    @include bp(lg) {
        font-size: 150%;
        }
}

@mixin content-font-regular{
    @include font-regular;
    font-weight:$font-w-light;
    color:$font-color;
}

@mixin content-font-button{
    @include font-small;
    font-weight:$font-regular;
    @include bp(sm) {
        @include font-regular;
        }
}


$list:$colour-primary,$colour-secondary;
//direction: top bottom left right
@mixin gradient-principal($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }

@mixin align-center{
    margin: 0 auto;
    text-align: center;
}

@mixin border-radius-15{
    border-radius: 15px;
}

@mixin border-radius-20{
    border-radius: 20px;
}

@mixin border-radius-30{
    border-radius: 30px;
}


// Map des breakpoints
$breakpoints: (
  sm: 576px,
  md: 800px,
  lg: 992px,
);
// Mixin pour appeler les breakpoint facilement
@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
         
        @media screen and (min-width: $value) {
            @content;
        }
    }
}