$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;
$white: #fff;
$colour-invalid: #DB464B;
$black:#000;
$font-color: lighten($black,20%);


$bg-grey: lighten($black, 95%); 
$bg-grey-lighten: lighten($black, 97%); 


$colour-shadow:rgba(0,0,0,0.25);

$gap:5%;
$gap-fix:15px;


$font-family-global:  'Roboto', sans-serif;
$font-w-light: 300;
$font-w-normal: 400;
$font-w-medium: 500;
$font-w-bold:700;

$font-xsmall:0.8rem;
$font-small:1rem;
$font-regular:1.15rem;
$font-medium:1.5rem;
$font-big:1.7rem;
$font-xl:2rem;

